<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/Module-3/1704Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas 

pandas.__version__

'1.3.4'

In [ ]:
import pandas as pd

mydataset = {
  'bike': ["pulsar", "unicon", "glamer"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

     bike  passings
0  pulsar         3
1  unicon         7
2  glamer         2

In [ ]:
import pandas

mydataset = {
  'tracors': ["swaraj", "kubota", "sonalika"],
  'passings': [4, 8, 3]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    tracors  passings
0    swaraj         4
1    kubota         8
2  sonalika         3

In [ ]:
import pandas as pd

mycompany = {
  'tracors': ["swaraj", "kubota", "sonalika"],
  'passings': [3432, 7647, 5382]
}

a = pd.DataFrame(mycompany)

print(a)

    tracors  passings
0    swaraj      3432
1    kubota      7647
2  sonalika      5382

In [ ]:
import pandas

mycurries = {
  'items': ["chicken", "mutton", "egg"],
  'passings': [160, 800, 5]
}

a = pandas.DataFrame(mycurries)

print(a)

     items  passings
0  chicken       160
1   mutton       800
2      egg         5

## Pandas Series

In [ ]:
import pandas as pd

a = [1532, 1704, 1286]

myvar = pd.Series(a)

print(myvar)

0    1532
1    1704
2    1286
dtype: int64

In [ ]:
## index
import pandas as pd

a = [1532, 1704, 1286]

myvar = pd.Series(a)

print(myvar[0])
print(myvar[1])
print(myvar[2])

1532
1704
1286

In [ ]:
import pandas as pd

a = [1532, 1704, 1286]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1532
y    1704
z    1286
dtype: int64

In [ ]:
## Create Labels
import pandas as pd

company=["swaraj", "kubota", "sonalika"]

myvar = pd.Series(company, index = ["x", "y", "z"])

print(myvar)

x      swaraj
y      kubota
z    sonalika
dtype: object

In [ ]:
## index
import pandas as pd

company=["swaraj", "kubota", "sonalika"]

a = pd.Series(company, index = ["x", "y", "z"])

print(a["y"])

kubota

In [ ]:
import pandas as pd

curries= ["chicken", "mutton", "egg"]
a = pd.Series(curries, index = ["x", "y", "z"])

print(a["y"])
print(a["x"])
print(a["z"])

mutton
chicken
egg

In [ ]:
## Key/Value Objects as Series
import pandas as pd
salaries = {"monday": 420, "tuesday2": 380, "wednesday3": 390}
a = pd.Series(salaries)
print(a)

monday        420
tuesday2      380
wednesday3    390
dtype: int64

In [ ]:
import pandas as pd
acherrate = {"one acher": 500, "two acher": 1000, "three acher": 1500}
a = pd.Series(acherrate)
print(a)

one acher       500
two acher      1000
three acher    1500
dtype: int64

In [ ]:
import pandas as pd
companyrates={"swaraj":700000, "kubota":50000, "sonalika":650000}
a = pd.Series(companyrates)
print(a)

swaraj      700000
kubota       50000
sonalika    650000
dtype: int64

In [ ]:
## index
import pandas as pd

companyrates={"swaraj":700000, "kubota":50000, "sonalika":650000}

myvar = pd.Series(companyrates, index = ["swaraj", "kubota"])

print(myvar)

swaraj    700000
kubota     50000
dtype: int64

## pandas DataFrame

In [ ]:
import pandas as pd

company = {
  "tractors": [241, 743, 215],
  "speed": [50, 40, 45]
}

myvar = pd.DataFrame(company)

print(myvar)

   tractors  speed
0       241     50
1       743     40
2       215     45

In [ ]:
## Locate Row (index)
import pandas as pd

company = {
  "tractors": [241, 743, 215],
  "speed": [50, 40, 45]
}

a = pd.DataFrame(company)

print(a.loc[0])

tractors    241
speed        50
Name: 0, dtype: int64

In [ ]:
import pandas as pd

company = {
  "tractors": [241, 743, 215],
  "speed": [50, 40, 45]
}

a = pd.DataFrame(company)

print(a.loc[[0, 1]])

   tractors  speed
0       241     50
1       743     40

In [ ]:
## named index
import pandas as pd

company = {
  "tractors": [241, 743, 215],
  "speed": [50, 40, 45]
}

df = pd.DataFrame(company, index = ["day1", "day2", "day3"])

print(df)

      tractors  speed
day1       241     50
day2       743     40
day3       215     45

In [ ]:
## Locate Named Indexes
import pandas as pd

company = {
  "tractors": [241, 743, 215],
  "speed": [50, 40, 45]
}

df = pd.DataFrame(company, index = ["day1", "day2", "day3"])

print(df.loc["day2"])

tractors    743
speed        40
Name: day2, dtype: int64

## Pandas Read CSV

In [ ]:
## Load the CSV into a DataFrame:
import pandas as pd

df = pd.read_csv('C:\\Users\CSE22004\Desktop\dataveg.csv')

print(df.to_string())

   s.no         veg non-veg
0     1     brinjal  chiken
1     2  califlower   muton
2     3      carrot    fish
3     4      cabage     egg
4     5      tamota    crab

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\CSE22004\Desktop\dataveg.csv')

print(df)

   s.no         veg non-veg
0     1     brinjal  chiken
1     2  califlower   muton
2     3      carrot    fish
3     4      cabage     egg
4     5      tamota    crab

In [ ]:
import pandas as pd

df = pd.read_csv('D:\\veg-nonveg.csv')
df.fillna(1,inplace = True)

print(new_df.to_string())

   s.no      veg non-veg
0   1.0  brinjal  chiken
2   3.0   carrot    fish
3   4.0   cabage     egg
4   5.0   tamota    none

In [ ]:
## REMOVE DATA FROM LIST
import pandas as pd

df = pd.read_csv('D:\\veg-nonveg.csv')
new_df= df.dropna()

print(new_df.to_string())

   s.no      veg non-veg
0   1.0  brinjal  chiken
2   3.0   carrot    fish
3   4.0   cabage     egg
4   5.0   tamota    none

## max_rows

In [ ]:
import pandas as pd

print(pd.options.display.max_rows)

60

In [ ]:
import pandas as pd

pd.options.display.max_rows = 3

df = pd.read_csv('D:\\nonveg.csv')

print(df)

    s.no  non veg  price
0      1  chicken    160
..   ...      ...    ...
4      5     crab    300

[5 rows x 3 columns]

## REMOVE DATA FROM LIST

In [ ]:
import pandas as pd

df = pd.read_csv('D:\\veg-nonveg.csv')
new_df= df.dropna()

print(new_df.to_string())

   s.no      veg non-veg
0   1.0  brinjal  chiken
2   3.0   carrot    fish
3   4.0   cabage     egg
4   5.0   tamota    none

## JSON

In [ ]:
import pandas as pd
df.pd