<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/module-2/1704_MODULE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MODULE - 2

##Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def nCr (x,y):
  return(fact(x)//(fact(y)
                   *fact(x-y)))
x=int(input("")) 
y=int(input(""))
def fact(x):
    res=1 
    for i in range(2,x+1):
      res =res*i
    return res
print(int(nCr(x,y)))

6
2
15

## Program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
a = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
a = [x for (i,x) in enumerate(a) if i not in (0,4,5)]
print(a)

['Green', 'White', 'Black']

## Program to get the difference between the two lists

In [ ]:
list1=[1,2,4,2,7,5,4,5]
list2=[3,4,3,6,7,9]
x=set(list1)
y=set(list2)
a=x.difference(y)
b=y.difference(x)
print(list(a))
print(list(b))

[1, 2, 5]
[9, 3, 6]

## Given list of tuples, remove all the tuples with length K

In [ ]:
numbers = [8, 10, 14, 18, 24]
print("The numbers is ")
print(numbers)
print("The resultant tuple is :")
result = [(val, pow(val, 4)) for val in numbers]
print(result)

The numbers is
[8, 10, 14, 18, 24]
The resultant tuple is :
[(8, 4096), (10, 10000), (14, 38416), (18, 104976), (24, 331776)]

## Program to find the second smallest number and second largest number in a list.

In [ ]:
my_list=[8, 10, 14, 18, 24]
my_list.sort()
print(my_list)
print("The second smallest number in the given list is: ",my_list[1])
print("The second largest number in the given list is: ",my_list[len(my_list)-2])

[8, 10, 14, 18, 24]
The second smallest number in the given list is:  10
The second largest number in the given list is:  18

## Program to remove a key from a dictionary

In [ ]:
dictionary = {'x':3,'y':4,'z':5,'a':6}
print(dictionary)
if 'x' in dictionary: 
    del dictionary['x']
print(dictionary)

{'x': 3, 'y': 4, 'z': 5, 'a': 6}
{'y': 4, 'z': 5, 'a': 6}

## Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
list=[8, 10, 14, 18, 24,35,43,54,56,67]
result=[(a,a**2) for a in list]
print("The required list is: ",result)

The required list is:  [(8, 64), (10, 100), (14, 196), (18, 324), (24, 576), (35, 1225), (43, 1849), (54, 2916), (56, 3136), (67, 4489)]

## Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [ ]:
a=int(input("Input a number "))
b = dict()

for i in range(1,a+1):
    b[i]=i*i

print(b)

Input a number 2
{1: 1, 2: 4}

## Program to remove a key from a dictionary

In [ ]:
tractor={
 'name':'mahindra',
 'colour':'red',
 'quality':'good',
 'cost':650000
}
tractor.pop('quality')
print(tractor)
del tractor['cost']
print(tractor)

{'name': 'mahindra', 'colour': 'red', 'cost': 650000}
{'name': 'mahindra', 'colour': 'red'}

## Program to get the maximum and minimum value in a dictionary

In [ ]:
dictionary = {'a':300, 'b':874, 'c': 860}

key_max = max(dictionary.keys(), key=(lambda k: dictionary[k]))
key_min = min(dictionary.keys(), key=(lambda k: dictionary[k]))

print('Maximum Value: ',dictionary[key_max])
print('Minimum Value: ',dictionary[key_min])

Maximum Value:  874
Minimum Value:  300

## Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

In [ ]:
string=str(input("enter a string: "))
print(string.split())
print(string[3:17])

enter a string: Program to perform operations on string using unicodes
['Program', 'to', 'perform', 'operations', 'on', 'string', 'using', 'unicodes']
gram to perfor

## Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.

In [ ]:
str_1="cow"
print(str_1.count('b'))
str_2="Program to get the maximum and minimum value."
print(str_2.count('get'))

0
1

## Program for replacing one substring by another For example - Rabbit -- Replace 'bb' by 'cc'

In [ ]:
string='Rabbit'
new_string=string.replace('bb','cc')
print(new_string)

Raccit

## Program to Acronym generator for any user input (ex-input is Random memory access
then output should be RMA).Example - Random number (RN)

In [ ]:
string=input("enter the string:")
x=string.split()
for i in x:
 print(i[0],end='')

enter the string:Random memory access
Rma

## Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
.

In [ ]:
string="I Love my village and I respect it."
count_1=0
count_2=0
for i in string:
 if i.isupper():
   count_1+=1
 elif i.islower():
   count_2+=1
 else:
   pass
print("uppercase are: ",count_1)
print("lowercase alphabets are: ",count_2)

uppercase are:  3
lowercase alphabets are:  24

## Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [ ]:
Sample_List = ['abc', 'xyz', 'aba', '1221']
count=0
for i in Sample_List:
 if len(i)>=2:
  if i[0]==i[len(i)-1]:
     print(i)
     count+=1
print(count)

aba
1221
2