<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/Module---5/1704_MODULE_5_RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##RegEx

In [ ]:
import re
txt = "i am going to movie"
x = re.search("i am going to movie", txt)
if x:
  print("YES!the word is in the line !")
else:
  print("No not there in the line")

YES!the word is in the line !

## Metacharacters

In [6]:
# Meta characters
## Check if the string starts with 'hello':
import re
txt = "Venezuela has a crime index of 83.76, the highest of any country in the world."
x = re.findall("^hello", txt)
if x:
 print("Yes, the string starts with 'hello'")
else:
 print("No match")

No match

## findall

In [ ]:
import re
txt = "a large heavy-bodied non-venomous snake occurring throughout the Old World tropics, killing prey by constriction and asphyxiation."
x = re.findall("[a-m]", txt)
print(x)

['a', 'l', 'a', 'g', 'e', 'h', 'e', 'a', 'b', 'd', 'i', 'e', 'd', 'e', 'm', 'a', 'k', 'e', 'c', 'c', 'i', 'g', 'h', 'g', 'h', 'h', 'e', 'l', 'd', 'l', 'd', 'i', 'c', 'k', 'i', 'l', 'l', 'i', 'g', 'e', 'b', 'c', 'i', 'c', 'i', 'a', 'd', 'a', 'h', 'i', 'a', 'i']

In [ ]:
import re
txt = "Rrr has become what perhaps only a few directors can dream about: a cinematic festival. Epic in its scope and operatic in its treatment, S.S. Rajamouliâ€™s RRR starring Jr NTR and Ram Charan has crossed the magic mark of Rs 600 crore within barely a week of its release"
x = re.search("^Rrr.*release$", txt)
if x:
  print("YES!the word is in the line !")
else:
  print("No not there in the line")

YES!the word is in the line !

In [ ]:
import re
txt="In 1922, Indian revolutionary Alluri Sitaram Raju led the Rampa Rebellion against the British raj for their imposition of the 1882 Madras Forest Act. The draconian act was heavily criticised for restraining the free movement of tribes within their own homes, and their sacred forests. It essentially made them prisoners in their own land"
x = re.search("in.*land$", txt)
if x:
  print("YES!the word is in the line !")
else:
  print("No not there in the line")

YES!the word is in the line !

## The findall() Function

In [ ]:
import re
txt = "The rain in raining"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt = "Indian revolutionary Alluri Sitaram Raju led the Rampa Rebellion"
x = re.findall("ed", txt)
print(x)

['ed']

In [3]:
import re
txt = "Data compression attempts to remove unwanted redundancy from the data from a source"
x = re.findall("computer", txt)
print(x)
if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [4]:
#Check if the string has any characters from a to z lower case, and A to Z upper case:
import re
txt = "8 times before 11:00 AM"
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [9]:
## #Replace the first two occurrences of a white-space character with the digit 9:
import re
text = "my name is sai and i am studying 1st year cse in gitam unversity"
x = re.sub("\s", "9", txt, 2)
print(x)

Venezuela9has9a crime index of 73.76, the highest of any country in the world.

In [7]:
##Find all lower case characters alphabetically between "a" and "m":
import re
txt = "Venezuela has a crime index of 73.76, the highest of any country in the world."
x = re.findall("[a-m]", txt)
print(x)

['e', 'e', 'e', 'l', 'a', 'h', 'a', 'a', 'c', 'i', 'm', 'e', 'i', 'd', 'e', 'f', 'h', 'e', 'h', 'i', 'g', 'h', 'e', 'f', 'a', 'c', 'i', 'h', 'e', 'l', 'd']

In [8]:
# find all digit characters
import re
txt = "Venezuela has a crime index of 73.76, the highest of any country in the world."
x = re.findall("\d", txt)
print(x)

['7', '3', '7', '6']

In [10]:
import re
txt = "manu"
x = re.findall("an..ha", txt)
print(x)

[]

In [11]:
import re
txt = "hello planet"
x = re.findall("he.*o", txt)
print(x)

['hello']

In [13]:
## special sequences
#Check if the string starts with "The":
import re
txt = "The rain in Spain"
x = re.findall("\AThe", txt)
print(x)
if x:
 print("Yes, there is a match!")
else:
 print("No match")

['The']
Yes, there is a match!

In [15]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "I love rain"
x = re.findall(r"\bain", txt)
print(x)
if x:
 print("Yes, there is at least one match!")
else:
 print("No match")

[]
No match

In [16]:
#Return a match at every no-digit character:
import re
txt = "my name is sai"
x = re.findall("\D", txt)
print(x)
if x:
 print("Yes, there is at least one match!")
else:
 print("No match")

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'b', 'h', 'a', 'n', 'u']
Yes, there is at least one match!

In [18]:
#Return a match at every NON white-space character:
import re
txt = "The rain in Spain"
x = re.findall("\S", txt)
print(x)
if x:
 print("Yes, there is at least one match!")
else:
 print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [19]:
import re
txt = "The rain in Spain"
x = re.findall("\W", txt)
print(x)
if x:
 print("Yes, there is at least one match!")
else:
 print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [20]:
#Check if the string ends with "Spain":
import re
txt = "my name is bhanu"
x = re.findall("aqnitha\Z", txt)
print(x)
if x:
 print("Yes, there is a match!")
else:
 print("No match")

[]
No match

In [22]:
# sets
#Check if the string has any a, r, or n characters:
import re
txt = "rain"
x = re.findall("[arn]", txt)
print(x)
if x:
 print("Yes, there is at least one match!")
else:
 print("No match")

['r', 'a', 'n']
Yes, there is at least one match!

In [23]:
#Check if the string has any two-digit numbers, from 00 to 59:
import re
txt = "8 times before 11:00 AM"
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
 print("Yes, there is at least one match!")
else:
 print("No match")

['11', '00']
Yes, there is at least one match!