<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/Module-3/json%2Caggre%2Cgroup1704.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## JSON

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\students.csv")
print(df.to_string())

    sno     name   age  gender            gmail id  Unnamed: 5 pasport
0     1       sai   12    male       sai@gmail.com         NaN      no
1     2      mani   32    male      mani@gmail.com         NaN      no
2     3      gopi   22    male      gopi@gmail.com         NaN     yes
3     4    venkey   42    male    venkey@gmail.com         NaN      no
4     5      hari   54    male      hari@gmail.com         NaN      no
5     6   hariesh   31    male   hariesh@gmail.com         NaN      no
6     7     bhanu   12   maler     bhanu@gmail.com         NaN     yes
7     8     kiran   25    male     kiran@gmail.com         NaN      no
8     9     durga   26    male     durga@gmail.com         NaN      no
9    10  bhargavi   27  female  bhargavi@gmail.com         NaN      no
10   11  srikanth   21    male  srikanth@gmail.com         NaN      no
11   12      ramu   28    male      ramu@gmail.com         NaN      no
12   13      ravi   36    male     ravi@gimail.com         NaN     yes
13   14     surya   39    male     surya@gmail.com         NaN      no
14   15     leela   17    male     leela@gmail.com         NaN      no
15   16   sukumar   18    male   sukumar@gmail.com         NaN      no
16   17    vishnu   19  female    vishnu@gmail.com         NaN     yes
17   18    blessy   29  female    blessy@gmail.com         NaN      no
18   19   chaitan   44    male   chaitan@gmail.com         NaN      no
19   20      abhi   33  female      abhi@gmail.com         NaN      no

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\students.csv")
de=df.drop_duplicates(subset="gender")
print(de)

   sno     name   age  gender            gmail id  Unnamed: 5 pasport
0    1       sai   12    male       sai@gmail.com         NaN      no
6    7     bhanu   12   maler     bhanu@gmail.com         NaN     yes
9   10  bhargavi   27  female  bhargavi@gmail.com         NaN      no

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\students.csv")
de=df.drop_duplicates(subset="gender",keep="first")
print(de)

   sno     name   age  gender            gmail id  Unnamed: 5 pasport
0    1       sai   12    male       sai@gmail.com         NaN      no
6    7     bhanu   12   maler     bhanu@gmail.com         NaN     yes
9   10  bhargavi   27  female  bhargavi@gmail.com         NaN      no

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\studentsmodify.csv")
de=df.drop_duplicates(subset="gender",keep="first")
print(de)

   sno  name   age  gender         gmail id  Unnamed: 5 pasport
0    1    sai   12    male    sai@gmail.com         NaN      no
6    7  bhanu   12   maler  bhanu@gmail.com         NaN     yes
7    8  kiran   25  female  kiran@gmail.com         NaN      no

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\studentsmodify.csv")
de=df.drop_duplicates(subset="gender",keep="first")
print(de)

   sno  name   age  gender         gmail id  Unnamed: 5 pasport
0    1    sai   12    male    sai@gmail.com         NaN      no
6    7  bhanu   12   maler  bhanu@gmail.com         NaN     yes
7    8  kiran   25  female  kiran@gmail.com         NaN      no

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\students.csv")
de=df.fillna(1,inplace=True)
print(df.to_string())

    sno     name   age  gender            gmail id  Unnamed: 5 pasport
0     1       sai   12    male       sai@gmail.com         1.0      no
1     2      mani   32    male      mani@gmail.com         1.0      no
2     3      gopi   22    male      gopi@gmail.com         1.0     yes
3     4    venkey   42    male    venkey@gmail.com         1.0      no
4     5      hari   54    male      hari@gmail.com         1.0      no
5     6   hariesh   31    male   hariesh@gmail.com         1.0      no
6     7     bhanu   12   maler     bhanu@gmail.com         1.0     yes
7     8     kiran   25    male     kiran@gmail.com         1.0      no
8     9     durga   26    male     durga@gmail.com         1.0      no
9    10  bhargavi   27  female  bhargavi@gmail.com         1.0      no
10   11  srikanth   21    male  srikanth@gmail.com         1.0      no
11   12      ramu   28    male      ramu@gmail.com         1.0      no
12   13      ravi   36    male     ravi@gimail.com         1.0     yes
13   14     surya   39    male     surya@gmail.com         1.0      no
14   15     leela   17    male     leela@gmail.com         1.0      no
15   16   sukumar   18    male   sukumar@gmail.com         1.0      no
16   17    vishnu   19  female    vishnu@gmail.com         1.0     yes
17   18    blessy   29  female    blessy@gmail.com         1.0      no
18   19   chaitan   44    male   chaitan@gmail.com         1.0      no
19   20      abhi   33  female      abhi@gmail.com         1.0      no

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\pasport.csv")
df.aggregate({"age":['min','max']})
#print(df.to_string())

     age
min   12
max   54

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\pasport.csv")
df.aggregate({"age":['min','max','average']})

           age
min      12.00
max      54.00
average  28.35

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\pasport.csv")
df.aggregate({"age":['sum']})

     age
sum  567

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\pasport.csv")
df.aggregate({"age":['count']})

       age
count   20

In [ ]:
import pandas as pd
df=pd.read_csv("D:\\pasport.csv")
print(df.aggregate({"age":['mean']}))
print(df.aggregate({"sno":['max']}))

        age
mean  28.35
     sno
max   20

In [ ]:
import pandas as pd
df = pd.read_csv("E:\\mdetails.csv")
a = df.groupby(by=['adress'])
print(pd.DataFrame(a))
a.first()

           0                                                  1
0         ad     sno  Name  age gender        gmail id adres...
1       bade      sno    Name  age  gender          gmail id...
2        bap     sno      Name  age  gender            gmail...
3       duli      sno  Name  age gender        gmail id adre...
4         gu     sno  Name  age gender        gmail id adres...
5        gvd      sno  Name  age  gender        gmail id adr...
6       hybd     sno   Name  age gender         gmail id adr...
7   kanagala      sno   Name  age gender         gmail id   ...
8     kasani      sno   Name  age gender         gmail id  a...
9   kolagani      sno     Name  age gender           gmail i...
10       kri     sno   Name  age gender         gmail id adr...
11       nag     sno   Name  age gender         gmail id adr...
12    pallem      sno    Name  age  gender          gmail id...
13      pudi      sno  Name  age gender         gmail id adr...
14     pusha      sno     Name  age gender           gmail i...
15       raj      sno      Name  age gender            gmail...
16   repalle     sno Name  age gender       gmail id   adres...
17        rj     sno    Name  age gender          gmail id a...
18       vij     sno  Name  age gender        gmail id adres...
19      visk     sno     Name  age gender           gmail id...

          sno      Name  age  gender            gmail id pasport     phone no
adress
ad          3      gopi   22    male      gopi@gmail.com     yes   7896541236
bade       17    vishnu   19  female    vishnu@gmail.com     yes   9632587412
bap        10  bhargavi   27  female  bhargavi@gmail.com      no   7649583425
duli       12      ramu   28    male      ramu@gmail.com      no   8456912357
gu          5      hari   54    male      hari@gmail.com      no   9874562154
gvd        20      abhi   33  female      abhi@gmail.com      no   9874561236
hybd        8     kiran   25    male     kiran@gmail.com      no   7812459654
kanagala   15     leela   17    male     leela@gmail.com      no  89456+12365
kasani     14     surya   39    male     surya@gmail.com      no   8956412365
kolagani   16   sukumar   18    male   sukumar@gmail.com      no   8954213625
kri         9     durga   26    male     durga@gmail.com      no   7825364159
nag         7     bhanu   12   maler     bhanu@gmail.com     yes   8496571236
pallem     18    blessy   29  female    blessy@gmail.com      no   7896541236
pudi       13      ravi   36    male     ravi@gimail.com     yes   8941266112
pusha      19   chaitan   44    male   chaitan@gmail.com      no   8912365478
raj        11  srikanth   21    male  srikanth@gmail.com      no   8416539427
repalle     1       sai   12    male       sai@gmail.com      no   9863547535
rj          4    venkey   42    male    venkey@gmail.com      no   6987541235
vij         2      mani   32    male      mani@gmail.com      no   8956231473
visk        6   hariesh   31    male   hariesh@gmail.com      no   8569412874

In [ ]:
import pandas as pd
df = pd.read_csv("E:\\mdetails.csv")
a = df.groupby(by=['adress','Name'])
print(type(a))
print(pd.DataFrame(a))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
                      0                                                  1
0            (ad, gopi)     sno  Name  age gender        gmail id adres...
1        (bade, vishnu)      sno    Name  age  gender          gmail id...
2       (bap, bhargavi)     sno      Name  age  gender            gmail...
3          (duli, ramu)      sno  Name  age gender        gmail id adre...
4            (gu, hari)     sno  Name  age gender        gmail id adres...
5           (gvd, abhi)      sno  Name  age  gender        gmail id adr...
6         (hybd, kiran)     sno   Name  age gender         gmail id adr...
7     (kanagala, leela)      sno   Name  age gender         gmail id   ...
8       (kasani, surya)      sno   Name  age gender         gmail id  a...
9   (kolagani, sukumar)      sno     Name  age gender           gmail i...
10         (kri, durga)     sno   Name  age gender         gmail id adr...
11         (nag, bhanu)     sno   Name  age gender         gmail id adr...
12     (pallem, blessy)      sno    Name  age  gender          gmail id...
13         (pudi, ravi)      sno  Name  age gender         gmail id adr...
14     (pusha, chaitan)      sno     Name  age gender           gmail i...
15      (raj, srikanth)      sno      Name  age gender            gmail...
16       (repalle, sai)     sno Name  age gender       gmail id   adres...
17         (rj, venkey)     sno    Name  age gender          gmail id a...
18          (vij, mani)     sno  Name  age gender        gmail id adres...
19      (visk, hariesh)     sno     Name  age gender           gmail id...