<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/Module-3/MODULE_3_1704.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1) read an entire text file.

In [ ]:
##read an entire text file.
import pandas as pd
sai = {'companies':['Amazon','Wipro','google','national inst'],'location':['Hyd','Vsp','Blr','Chennai']}
x = pd.DataFrame(sai)
print(x)

       companies location
0         Amazon      Hyd
1          Wipro      Vsp
2         google      Blr
3  national inst  Chennai

## 2)read the first n lines of a file.

In [ ]:
import pandas as pd
puli = {'companies':['Amazon','Wipro','google','fipcart'],'location':['Hyd','Vsp','Blr','Chennai']}
x = pd.DataFrame(puli)
print(x)

  companies location
0    Amazon      Hyd
1     Wipro      Vsp
2    google      Blr
3   fipcart  Chennai

## 3)append text to a file and display the text.

In [ ]:
import pandas as pd
marks = [98,89,85,78]
sai = pd.Series(marks)
print(sai)

## 4)Read numbers from a file and write even and odd numbers to separate files.

In [ ]:
import pandas as pd
marks = [98,89,85,78]
sai = pd.Series(marks)
print(sai)
print(sai[3])

## 5) Count characters, words and lines in a text file.

In [ ]:
import pandas as pd
marks = [68, 89, 75]
puli = pd.Series(marks, index = ["mani", "sai", "durga"])
print(puli)

## 6)Write a Pandas program to read specific columns from a given excel file

In [ ]:
import pandas as pd
marks = [28, 29.5, 15]
hari = pd.Series(marks, index = ["mani", "sai", "durga"])
print(hari)
print(mymarks["mani"])

## 7)x To write a list to a file.

In [ ]:
import pandas as pd
puli = {"a1": 12, "a2": 10, "a3": 8}
x = pd.Series(puli)
print(x)

## 8) Print only limited data as per the labels:

In [ ]:
import pandas as pd
mani ={"a1": 19, "a2": 15, "a3": 18}
x = pd.Series(mani,index=["a1","a2"])
print(x)

## 9)Given a dataframe, select rows based on a condition.

In [ ]:
import pandas as pd
puli = {
       "Employees": ["hari", "sai", "giri"],
       "Publications": [50, 40, 45]
     }
x = pd.DataFrame(puli)
print(x)

## 10)Given a dataframe, select rows based on a condition.

In [ ]:
import pandas as pd
empPublications = {
  "Employees": ["hari", "mani", "vishnu"],
  "Publications": [50, 70, 65]
}
myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])
print(myvar)
print(myvar.loc["2001"])

## 11)x Given a CSV file or excel file to read it into a dataframe and display it.

In [ ]:
import pandas as pd
df = pd.read_csv('ak.csv')
print(df)

## 12)Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation

In [ ]:
import pandas as pd
df = pd.read_csv('sai.csv')
print(df.to_string())

## 13)x Given a dataframe, select rows based on a condition

In [ ]:
import pandas as pd
pd.options.display.max_rows = 999
df = pd.read_csv(‘sai.csv’)
print(df)