<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/module-1/Puli_Naga_Sai_1704_Assignment_1_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Lists VU21CSENO101704

## List Printing

In [ ]:
fruit = ["gova", "mango", "jack fruit"]
print(fruit)
#List Length
print(len(fruit))

['gova', 'mango', 'jack fruit']
3

## List Items - Data Types

In [ ]:
names = ["sai", "mani", "venkey"]
print(names)
numbers = [1, 5, 7, 9, 3]
print(numbers)
boolean = [True, False, False]
print(boolean)
#type
print(type)

['sai', 'mani', 'venkey']
[1, 5, 7, 9, 3]
[True, False, False]
<class 'type'>

## The list() Constructor

In [ ]:
subjects = list(("maths", "physics", "chemistry"))
print(subjects )

['maths', 'physics', 'chemistry']

## Access List Items

## Print the items of the list:

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
print(animals[1])
print(animals[0])
print(animals[2])
print(animals[3])
print(animals[-1])
## Negative Indexing
print(animals[-1])
print(animals[-2])
print(animals[-3])
## Range of Indexes
print(animals[2:4])
print(animals[0:2])
print(animals[1:3])
print(animals[:2])
print(animals[3:])
## Range of negative indexing
print(animals[-1:-3])
print(animals[-2:-1])

goat
cow
bullock
buffalo
buffalo
buffalo
bullock
goat
['bullock', 'buffalo']
['cow', 'goat']
['goat', 'bullock']
['cow', 'goat']
['buffalo']
[]
['bullock']

## Change list Item

In [ ]:
## CHange item value
fruits = ["apple", "banana","mango", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)
fruits[3] = "gova"
print(fruits)
fruits[2] = "carrot"
print(fruits)
fruits[0] = "beetroot"
print(fruits)
## range of the item value
fruits[1:3] = ["grapes","water mwlon"]
print(fruits)
fruits[0:2] =["orange","jack fruit"]
print(fruits)

['apple', 'blackcurrant', 'mango', 'cherry']
['apple', 'blackcurrant', 'mango', 'gova']
['apple', 'blackcurrant', 'carrot', 'gova']
['beetroot', 'blackcurrant', 'carrot', 'gova']
['beetroot', 'grapes', 'water mwlon', 'gova']
['orange', 'jack fruit', 'water mwlon', 'gova']

## ADD List items

## APPEND , INSERT

In [ ]:
fruit=["goa","apple","banana","mango"]
print(fruit)
## APPEND
fruit.append("JACK FRUIT")
print(fruit)
fruit.append("carrot")
print(fruit)
## INSERT
fruit.insert(1,"gova")
print(fruit)
fruit.insert(4,"pine apple")
print(fruit)

['goa', 'apple', 'banana', 'mango']
['goa', 'apple', 'banana', 'mango', 'JACK FRUIT']
['goa', 'apple', 'banana', 'mango', 'JACK FRUIT', 'carrot']
['goa', 'gova', 'apple', 'banana', 'mango', 'JACK FRUIT', 'carrot']
['goa', 'gova', 'apple', 'banana', 'pine apple', 'mango', 'JACK FRUIT', 'carrot']

## EXTEND

In [ ]:
fruits1 = ["apple", "banana", "cherry"]
fruits2 = ["mango", "pineapple", "papaya"]
fruits1.extend(fruits2)
print(fruits1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
animals1 = ["cow","goat","bullock","buffalo"]
animals2 = ["sheep","lion","tiger","deer"]
animals1.extend(animals2)
print(animals1)

['cow', 'goat', 'bullock', 'buffalo', 'sheep', 'lion', 'tiger', 'deer']

## REMOVE Specified Item

## REMOVE , POP , DEL , CLEAR

## REMOVE

In [ ]:
fruit=["gova","apple","banana","mango"]
fruit.remove("apple")
print(fruit)
fruit.remove("gova")
print(fruit)
fruit.remove("banana")
print(fruit)
fruit.remove("mango")
print(fruit)

['gova', 'banana', 'mango']
['banana', 'mango']
['mango']
[]

## POP

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
animals.pop(3)
print(animals)
animals.pop(2)
print(animals)
animals.pop(1)
print(animals)
animals.pop(0)
print(animals)

['cow', 'goat', 'bullock']
['cow', 'goat']
['cow']
[]

## DEL

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
del animals[0]
print(animals)
del animals[2]
print(animals)
del animals[1]
print(animals)

['goat', 'bullock', 'buffalo']
['goat', 'bullock']
['goat']

## CLEAR

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
animals.clear()
print(animals)

[]

In [ ]:
fruit=["goa","apple","banana","mango"]
fruit.clear()
print(fruit)

[]

## LOOPS LIST

## Loop Through a List

In [ ]:
## Print all items in the list, one by one:

In [ ]:
fruit = ["apple", "banana", "cherry"]
for x in fruit:
  print(x)

apple
banana
cherry

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
for x in animals:
  print(x)

cow
goat
bullock
buffalo

In [ ]:
num=[2,3,4,7]
for x in num:
  print(x)

2
3
4
7

In [ ]:
## Loop Through the Index Numbers

In [ ]:
fruit = ["apple", "banana", "cherry"]
for i in range(len(fruit)):
  print(fruit[i])

apple
banana
cherry

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
for i in range(len(animals)):
  print(animals[i])

cow
goat
bullock
buffalo

## Using a While Loop

In [ ]:
fruit = ["apple", "banana", "cherry"]
i = 0
while i < len(fruit):
  print(fruit[i])
  i = i + 1

apple
banana
cherry

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
i = 0
while i < len(animals):
  print(animals[i])
  i = i + 1

cow
goat
bullock
buffalo

In [ ]:
##Looping Using List Comprehension

In [ ]:
fruit = ["apple", "banana", "cherry"]
[print(x) for x in fruit]

apple
banana
cherry

[None, None, None]

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
[print(x) for x in animals]

cow
goat
bullock
buffalo

[None, None, None, None]

## LIST COMPHRENSION

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
newlist = []

for x in animals:
  if "a" in x:
    newlist.append(x)

print(newlist)

['goat', 'buffalo']

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
newlist = [x for x in animals if "a" in x]

print(newlist)
## condition
newlist = [x for x in animals if x != "cow"]
print(newlist)
## statement
newlist = [x for x in animals]
print(newlist)
##Range
newlist = [x for x in range(10)]
print(newlist)
newlist = [x for x in range(10) if x < 5]
print(newlist)
## Expression
newlist = [x.upper() for x in animals]
print(newlist)
newlist = ['hello' for x in animals]
print(newlist)
newlist = [x if x != "cow" else "goat" for x in animals]
print(newlist)

['goat', 'buffalo']
['goat', 'bullock', 'buffalo']
['cow', 'goat', 'bullock', 'buffalo']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['COW', 'GOAT', 'BULLOCK', 'BUFFALO']
['hello', 'hello', 'hello', 'hello']
['goat', 'goat', 'bullock', 'buffalo']

## SORT LISTS

In [ ]:
## Sort the list alphabetically:

In [ ]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
numbers = [100, 50, 65, 82, 23]
numbers.sort()
print(numbers)

[23, 50, 65, 82, 100]

## SORT DESCENDING and ASSE

In [ ]:
subjects = ["maths", "physics", "chemistry","telugu","english"]
subjects.sort(reverse = True)
print(subjects)

['telugu', 'physics', 'maths', 'english', 'chemistry']

In [ ]:
marks = [100, 50, 65, 82, 23]
marks.sort(reverse = True)
print(marks)
## assending
marks.sort()
print(marks)

[100, 82, 65, 50, 23]
[23, 50, 65, 82, 100]

In [ ]:
numbers = [23,43,12,34,41,52,25]
numbers.sort(reverse = True)
print(numbers)
## assending
numbers.sort()
print(numbers)

[52, 43, 41, 34, 25, 23, 12]
[12, 23, 25, 34, 41, 43, 52]

##  Customize Sort Function

In [ ]:
def myfunc(n):
  return abs(n - 50)

numbers = [100, 50, 65, 82, 23]

numbers.sort(key = myfunc)

print(numbers)

[50, 65, 23, 82, 100]

## Case Insensitive Sort

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
animals.sort()
print(animals)

['buffalo', 'bullock', 'cow', 'goat']

In [ ]:
subjects = ["maths", "physics", "chemistry","telugu","english"]
subjects.sort(key = str.lower)
print(subjects)

['chemistry', 'english', 'maths', 'physics', 'telugu']

## Reverse Order

In [ ]:
subjects = ["maths", "physics", "chemistry","telugu","english"]
subjects.reverse()
print(subjects)

['english', 'telugu', 'chemistry', 'physics', 'maths']

In [ ]:
marks = [100, 50, 65, 82, 23]
marks.reverse()
print(marks)

[23, 82, 65, 50, 100]

## COPY LISTS

In [ ]:
animals = ["cow","goat","bullock","buffalo"]
mylist = animals .copy()
print(mylist)
## LISTS
mylist = list(animals)
print(mylist)

['cow', 'goat', 'bullock', 'buffalo']
['cow', 'goat', 'bullock', 'buffalo']

## JOIN LISTS

In [ ]:
## Join two list:
marks = [100, 50, 65, 82, 23]
subjects = ["maths", "physics", "chemistry","telugu","english"]
each = marks + subjects
print(each)
## APPEND
for x in subjects:
  marks.append(x)
print(marks)
## EXTEND
marks.extend(subjects)
print(marks)

[100, 50, 65, 82, 23, 'maths', 'physics', 'chemistry', 'telugu', 'english']
[100, 50, 65, 82, 23, 'maths', 'physics', 'chemistry', 'telugu', 'english']
[100, 50, 65, 82, 23, 'maths', 'physics', 'chemistry', 'telugu', 'english', 'maths', 'physics', 'chemistry', 'telugu', 'english']

In [ ]:
X= ["a", "b", "c"]
Y = [1, 2, 3]
Z = X + Y
print(Z)
## APPEND
for i in Y:
  X.append(i)
print(X)
## EXTEND
X.extend(Y)
print(X)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 1, 2, 3]