<a href="https://colab.research.google.com/github/Pulisai1704/python-new/blob/module-2/TUPPLES_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuple

In [ ]:
## TUPLES
a=("sai","mani","venkey")
print(a)

('sai', 'mani', 'venkey')

In [ ]:
## Tuples allow duplicate values
a=("apple","mango","banna","apple")
print(a)

('apple', 'mango', 'banna', 'apple')

In [ ]:
## tuple length
## Print the number of items in the tuple
animals=("cow","buffalow","goat","bullock")
print(len(animals))

4

In [ ]:
## Tuple With One Item
a=("venkat",)
print(type(a))
## not a tuple
a=("sai")
print(type(a))

<class 'tuple'>
<class 'str'>

In [ ]:
## Tuple Items - Data Types
a = ("apple", "banana", "cherry")
print(a)
b = (1, 5, 7, 9, 3)
print(b)
c = (True, False, False)
print(c)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [ ]:
##  tuple with strings, integers and boolean values
a=("abc","154","true")
print(a)

('abc', '154', 'true')

In [ ]:
## data type of a tuple
animals=("cow","buffalow","goat","bullock")
print(type(animals))

<class 'tuple'>

In [ ]:
## The tuple() Constructor
a = tuple(("apple", "banana", "cherry"))
print(a)

('apple', 'banana', 'cherry')

## Access Tuple Items

In [ ]:
## Print the second item in the tuple:
animals=("cow","buffalow","goat","sheep")
print(animals[1])
print(animals[3])

buffalow
sheep

In [ ]:
## Negative Indexing
a=("sai","mani","venkey")
print(a[-1])
print(a[-2])
print(a[-3])

venkey
mani
sai

In [ ]:
## Range of Indexes
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])
print(fruits[1:3])
print(fruits[2:4])

('cherry', 'orange', 'kiwi')
('banana', 'cherry')
('cherry', 'orange')

In [ ]:
## returns the items from the beginning to, but NOT included, "kiwi"
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits [:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
## returns the items from "cherry" and to the end
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits [3:])

('orange', 'kiwi', 'melon', 'mango')

In [ ]:
## Range of Negative Indexes
## returns the items from index -4 (included) to index -1 (excluded)
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits [-5:-1])
print(fruits [-4:0])
print(fruits [-3:-2])

('cherry', 'orange', 'kiwi', 'melon')
()
('kiwi',)

In [ ]:
## Check if Item Exists
fruits= ("apple", "banana", "cherry")
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

##  Update Tuples

In [ ]:
## Change Tuple Values
a = ("apple", "banana", "cherry")
b = list(a)
b[1] = "kiwi"
a = tuple(b)
print(a)

('apple', 'kiwi', 'cherry')

In [ ]:
##  tuple into a list, add "sheep", and convert it back into a tuple
a=("cow","goat","bufallow","bullock")
b=list(a)
b[2]="sheep"
a= tuple(b)
print(a)

('cow', 'goat', 'sheep', 'bullock')

In [ ]:
## Add Items
## Convert into a list
fruits = ("apple", "banana", "cherry")
y = list(fruits)
y.append("orange")
fruits = tuple(y)
print(fruits)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
##  Add tuple to a tuple
fruits  = ("apple", "banana", "cherry")
y = ("orange",)
fruits  += y
print(fruits )

('apple', 'banana', 'cherry', 'orange')

In [ ]:
## Remove Items
## Convert the tuple into a list, remove "cow", and convert it back into a tuple:
animals=("cow","buffalow","goat","sheep")
y = list(animals)
y.remove("cow")
animals = tuple(y)
print(animals)

('buffalow', 'goat', 'sheep')

In [ ]:
## delet
animals=("cow","buffalow","goat","sheep")
del animals
print(animals)

NameError: ignored

## Unpack Tuples

In [ ]:
## Packing a tuple:
animals=("cow","buffalow","goat","sheep")
print(animals)

('cow', 'buffalow', 'goat', 'sheep')

In [ ]:
##Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
## Using Asterisk*
animals=("cow","buffalow","goat","sheep")
(green, yellow, *red) = animals
print(green)
print(yellow)
print(red)

cow
buffalow
['goat', 'sheep']

In [ ]:
## Add a list of values the "tropic" variable:
animals=("cow","buffalow","goat","sheep")
(green,*tropic, red) = animals
print(green)
print(yellow)
print(red)

cow
buffalow
sheep

## Loop Tuples

In [ ]:
##Loop Through a Tuple
animals=("cow","buffalow","goat","sheep")
for x in animals:
  print(x)

cow
buffalow
goat
sheep

In [ ]:
## Loop Through the Index Numbers